* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: #4c6456;
  /* text-decoration: ; */
}
a:visited {
  color: #212121;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1920 px;
  height: auto;
  margin: 0 auto;
  padding: 10px 10px 0px 10px;
}
img {
  width: 100%;
  /* max-width: 1920px ; */
  object-fit: cover;
}
.slides-section {
  position: relative;
  width: 100%;
  /* max-width: 1920px; */
  height: auto;
  overflow: hidden;
}
.content-wrapper {
  position: absolute;
  z-index: 2;
}
.slides-wrapper {
  position: relative;
  background-color: white;
}
.logos {
  display: flex;
  gap: 30px;
}

.logo {
  width: 100%;
  max-width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 40px;
}
.logo:hover {
  transform: scale(1.4);
}

.content-wrapper {
  width: 100%;
  /* max-width: 1920px; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.content-left {
  /* display: flex; */
  flex: 1;
  margin-top: 48px;
  margin-left: 52px;
  width: 113px;
}
.rocaa {
  width: 113px;
  height: 56px;
  text-align: left;
  letter-spacing: 1.2px;
  color: #1a1a1a;
  font-size: 40px;
  font-family: poppins;

  font-weight: bold;
  display: flex;
}
.rocaa:hover {
  transform: scale(1.2);
}
.blue {
  color: #0081ff;
}

.resume {
  font-size: 13px;
  display: block;
  /* top: 65px; */
  /* left: 52px; */
  width: 119px;
  height: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #b3b3b3;
  opacity: 1;
  font-family: montserrat;
}
.middle-content {
  flex: 1;
  width: 100%;
  max-width: 582px;
  /* background-color: white; */
  display: block;
  margin-top: 384px;
  /* margin-left: 858px; */
  margin-right: 292px;
  font-size: 49.7px;
  height: 292px;
  text-align: left;
  letter-spacing: 0.75px;
  color: #212121;
  font-family: GlacialIndifference-Bold;
  font-weight: 400;
  font-style: normal;
}
.name {
  display: block;
  /* top: 445px; */
  left: 1023px;
  font-size: 60px;
  /* height: 294px; */
  text-align: left;
  letter-spacing: 1.06px;
  color: #212121;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.proffesion {
  font-size: 23.29px;
  width: 378px;
  height: 31px;
  text-align: left;
  letter-spacing: 0px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-right {
  /* margin-top: 25px; */
  /* margin-right: 60px; */
  /* left: 1631px; */
  text-align: right;
  letter-spacing: 4.75px;
  color: #1c1c1c;
  opacity: 1;
  /* flex: 1; */
  font-size: 20px;
  font-family: Poppins-ExtraBold;
}
.right-corner {
  font-size: 158px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 112px;
  text-align: right;
  letter-spacing: 4.75px;
  width: 170px;
  height: 221px;
  color: rgb(89, 88, 88);
}
.about {
  position: absolute;
  z-index: 2;
  top: 106px;
  right: 64px;
  font-size: 48px;
  font-weight: bold;
  font-family: Poppins-ExtraBold;
  width: 237px;
  height: 60px;
  text-align: left;
  letter-spacing: 1.3px;
  color: #373737;
  opacity: 1;
}
.overlay {
  position: relative;
  width: 100%;
  max-width: 227px;
  height: auto;
  flex-wrap: wrap;
}

.bottom {
  display: block;
  margin-top: 910px;
  width: 361px;
  margin-left: -300px;
  margin-right: 50px;
  text-align: left;
}
.red-colour {
  font-size: 24px;
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-style: normal;
  color: #e93656;
  text-align: left;
  letter-spacing: 0px;
  /* margin-right: 112px; */
}
.black-colour {
  font-size: 24px;
  font-family: Montserrat-Bold;
  font-weight: bold;
  font-style: normal;
  color: #212121;
  text-align: left;
  letter-spacing: 0px;
  /* margin-right: 83px; */
}
.line {
  width: 340px;
  height: 6px;
  background: #e93656;
  margin-top: 20px;
  /* margin-left: 200px; */
}

.slides-container {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  height: 972px;
  position: relative;
}
.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  transition: width 0.5s ease-in;
  z-index: -1;
}
.slide.active {
  width: 100%;
  z-index: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* second-section */

.wrapper {
  display: flex;
  margin-top: 135px;
  align-items: center;
  justify-content: center;
}

.left-side {
  text-align: right;
}
.left-side h1 {
  text-align: right;
  letter-spacing: 0px;
  color: #222222;
  font-size: 40px;
  font-family: GlacialIndifference-Bold;
  margin-top: 83px;
}
.developer {
  font-size: 14px;
  font-family: Muli;
  text-align: center;
  letter-spacing: 0px;
  color: #daae19;
  opacity: 1;
}
.left-side p {
  width: 100%;
  max-width: 334px;
  height: auto;
  text-align: right;
  margin-left: 38px;
  margin-top: 33px;
  text-align: right;
  letter-spacing: 0.45px;
  color: #555555;
  opacity: 1;
  font-size: 15px;
  font-family: Muli-Regular;
}
.left-side button {
  background: #e93656 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  max-width: 152px;
  height: 50px;
  border-style: none;
  color: white;
  cursor: pointer;
  margin-top: 60px;
  font-family: GlacialIndifference-Bold;
}
.left-side button:hover {
  background-color: red;
  font-size: medium;
}
.second-section img {
  display: flex;
  width: 100%;
  max-width: 550px;
  height: auto;
  margin-left: 65px;
}
.right-side {
  text-align: left;
  margin-top: 59px;
  margin-left: 70px;
}

.skills h1 {
  font-size: 20px;
  color: #555555;
  font-family: GlacialIndifference-Bold;
  display: inline-block;
  font-weight: 600;
}
.skills p {
  display: inline-block;
  color: #e93656;
  font-size: 20px;
  font-family: GlacialIndifference-Bold;
  font-weight: 800;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 65px;
}

.skill-bar {
  width: 100%;
  max-width: 300px;
  height: 9px;
  margin-top: 15px;
  background-color: #f0f0f0;
}
.line1 .line2 .line3 .line4 {
  width: 0%;
  height: 9px;
  background-color: #e93656;
}

.line-80 {
  width: 80%;
  height: 9px;
  background-color: #e93656;
  transition: 4s linear;
  transition-delay: 2s;
}

.line-70 {
  width: 70%;
  height: 9px;
  background-color: #e93656;
  transition: 4s ease;
  transition-delay: 2s;
}

.line-90 {
  width: 90%;
  height: 9px;
  background-color: #e93656;
  transition: 4s ease;
  transition-delay: 2s;
}

.line-80 {
  width: 80%;
  height: 9px;
  background-color: #e93656;
  transition: 4s ease;
  transition-delay: 2s;
}

.pages {
  margin-top: 78px;
  gap: 5px;
  display: flex;
}
.checkbox {
  width: 50px;
  height: 50px;
  background: #f9f9f9;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkbox-cube {
  width: 9px;
  height: 15px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}
.checkbox:hover .checkbox-cube {
  background: #15263e;
  border: 1px solid white;
}
.checkbox:hover {
  background: #15263e;
}

/* footer   */

footer {
  display: flex;
  background-color: #131a36;
  justify-content: center;
  margin-top: 100px;
}
.footer-wrapper {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-head {
  display: block;
  text-align: left;
  letter-spacing: 0.75px;
  color: #ffffff;
  opacity: 1;
  font-size: 25px;
  font-family: GlacialIndifference-Bold;
  margin-bottom: 15px;
}
.footer-body {
  display: block;
  text-align: left;
  letter-spacing: 0.42px;
  color: #dfdfdf;
  opacity: 1;
  font-size: 14px;
  font-family: Muli;
  line-height: 24px;
  cursor: pointer;
}
/* .footer-wrapper img {
  width: 100%;
  max-width: 30px;
  height: auto;
} */
.logo-box {
  border: 1px dashed #ffffff;
  border-radius: 50px;
  padding: 30px;
  object-fit: cover;
}
.footer-wrapper img:hover {
  background-color: #e93656;
}
.footer-box {
  margin-left: 30px;
  margin-right: 50px;
}

/* third section */

.section-third {
  display: flex;
  justify-content: center;
  /* margin-top: 203px; */
}
.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: 4fr;
  object-fit: cover;
  width: 100%;
  max-width: 1170px;
}
article {
  background: #fafafa;
  width: 100%;
  max-width: 285px;
  height: 360px;
  /* border-radius: 24px; */
  padding: 16px;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 0.97;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
/* .card-content {
  position: absolute;
} */
article span {
  font-size: 22px;
  font-family: GlacialIndifference-Bold;
}
.card-content img {
  display: block;
  width: 100%;
  max-width: 70px;
}
.additional-infor {
  display: none;
}
.additional-infor h1 {
  text-align: center;
  letter-spacing: 0.44px;
  color: #ffffff;
  opacity: 1;
  font-size: 30px;
  font-family: GlacialIndifference-Bold;
  margin-bottom: 19px;
}
.additional-infor p {
  width: 222px;
  text-align: center;
  letter-spacing: 0.42px;
  color: #ececec;
  opacity: 1;
  font-size: 14px;
  font-family: Muli-Light;
  line-height: 26px;
}
article:hover .additional-infor {
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  color: white;
}
article:hover {
  background-color: rgb(7, 7, 52);
}
article:hover img,
article:hover span {
  opacity: 0;
}
.card-content:hover {
  opacity: 0;
}
.section-third img {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}

/* recomendations  */
.recom-slider-container {
  background-color: #131a36;
  background-image: url("/assets/images/clip.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  margin-top: 160px;
}
.recom-slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.recom-slide {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recom-text {
  text-align: right;
  width: 497px;
  letter-spacing: 0.45px;
  color: #ffffff;
  opacity: 1;
  margin-right: 50px;
  font-size: 15px;
  font-family: Roboto-Light;
  line-height: 30px;
}
.photo-and-info {
  display: flex;
  align-items: center;
}

.photo-and-info img {
  width: 140px;
  height: 140px;
  /* background: blue 0% 0% no-repeat padding-box; */
  opacity: 1;
  border-radius: 50%;
  border: 1px dashed #ffffff;
  padding: 10px;
  margin-right: 65px;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.quote {
  width: 39px;
  height: 26px;
  font-size: 50px;
  font-family: GlacialIndifference-Bold;

  opacity: 1;
  color: white;
  margin-bottom: 38px;
}
.info .recom-proffesion {
  text-align: left;
  letter-spacing: 0.52px;
  color: #e93656;
  opacity: 1;
  font-size: 13px;
  margin-bottom: 9px;
}
.info .recom-name {
  text-align: left;
  letter-spacing: 0.84px;
  color: #ffffff;
  opacity: 1;
  font-size: 28px;
}
.cubes {
  display: flex;
  flex-direction: column;
  gap: 14.5px;
  margin-left: 153px;
  cursor: pointer;
}
.cube {
  width: 13px;
  height: 13px;
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
}
.cube:hover {
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 2px solid #e93656;
  opacity: 1;
}
.active {
  display: flex;
}

/* latest projects */

.header {
  text-align: center;
  margin-top: 144px;
  margin-bottom: 55px;
  font-size: 70px;
  font-family: GlacialIndifference-Bold;
}
.latest-projects {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  width: 240px;
  height: 401px;
  background: #15263e 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
  padding: 51px 71px 59px 59px;
  margin-right: 30px;
}
.navbar a {
  color: white;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 44px;
  text-decoration: none;
  font-size: 20px;
  font-family: GlacialIndifference-Bold;
}
.navbar a.active {
  color: red;
  font-weight: bold;
}
.navbar ul {
  list-style-type: none;
}
.navbar li {
  cursor: pointer;
}

.projectcards {
  display: flex;
  width: 100%;
  max-width: 900px;
  flex-wrap: wrap;
  grid-template-columns: repeat (3, 1fr);
}
.projectcard {
  position: relative;
  overflow: hidden;
  transition: transform 0.3 ease-in-out;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.projectcard img {
  width: 100%;
  max-width: 300px;
  height: 350px;
  transition: 0.3s ease;
  background-size: cover;
}
.projectcard .project-info {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  color: white;
}
.project-info {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.projectcard.show-info .project-info {
  opacity: 1;
  display: block;
}
.projectcard.blurred img {
  filter: blur(5px);
  pointer-events: none;
  transition: filter 0.3 ease;
}

.projectcard.hidden {
  display: none;
}
.project-text1 {
  margin-top: 150px;
  font-size: 11px;
  margin-bottom: 7px;
  width: 100%;
  padding: 0 40px 20px 40px;
}
.project-text2 {
  font-size: 23px;
  font-family: GlacialIndifference-Bold;
}

/* latest article  */

.articlelogo {
  width: 90px;
  height: 90px;
  margin-top: 79px;
  margin-left: 28px;
  margin-bottom: 34px;
  display: block;
}
.miniheader {
  text-align: center;
  margin-top: 170px;
  margin-bottom: -120px;
  font-size: 13px;
  font-family: Muli;
  color: green;
  font-weight: bold;
}
.latest-articles {
  display: flex;
  margin-top: 79px;
  margin-bottom: 269px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 1900px; */
  margin: 0 auto;
}
.entire-article {
  display: flex;
  max-width: 1920px;
  width: 100%;
}
/* .article-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
/* grid-template-columns: repeat (4, 1fr);
  width: 100%;
  max-width: 1920px; */
/* height: 1700px; */

.white-space {
  width: 100%;
  max-width: 150px;
  height: 590px;
  background-color: white;
}
.article {
  width: 100%;
  max-width: 800px;
  height: 590px;
  background-color: #fafafa;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.picture {
  width: 827px;
  height: 590px;
}
.picture img {
  width: 827px;
  object-fit: cover;
  height: 100%;
}
.picture img:hover {
  opacity: 0.7;
}
.dates {
  width: 123px;
  height: 590px;
  background-color: #15263e;
  color: #e93656;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article h2 {
  font-size: 14px;
  font-family: Muli;
  color: #888888;
  letter-spacing: 1.12px;
  margin-left: 28px;
  opacity: 1;
  text-align: left;
  margin-top: 40px;
}
.rotated-text {
  transform: rotate(270deg);
  display: inline-block;
  letter-spacing: 0.9px;
  color: #e93656;
  text-align: left;
  font-size: 30px;
  font-family: GlacialIndifference-Bold;
}
.para2 {
  text-align: left;
  letter-spacing: 0px;
  color: #161616;
  opacity: 1;
  font-size: 38px;
  font-family: GlacialIndifference-Bold;
  margin-top: 4.31px;
  margin-left: 28px;
}
.para3 {
  text-align: left;
  letter-spacing: 0.48px;
  opacity: 1;
  line-height: 30px;
  color: #494949;
  /* width: 100%; */
  width: 569px;
  /* height: 139px; */
  margin-top: 28.69px;
  font: 16px;
  font-family: Muli;
  margin-left: 28px;
  margin-right: 203px;
}
/* rosa team 
 */

.rosa-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1170px;
  margin: 81px auto;
  gap: 110px;
}

.partner {
  position: relative;
  width: 100%;
  max-width: 115px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.4s ease;
  border: 1px solid transparent;
}

.partnerpng {
  width: 100%;
  max-width: 110px;
  height: 110px;
  display: block;
  transition: opacity 0.5s ease;
}

.partner:hover {
  background-color: white;
  border-radius: 1;
  border-color: red;
  max-width: 220px;
  height: 220px;
}

.partner:hover .partnerpng {
  opacity: 0;
}

.hover-text {
  position: absolute;
  top: 33px;
  left: 33px;
  right: 33px;
  bottom: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: #ffffff;
  color: #626262;
}

.partner:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.client1 {
  font-size: 16px;
  font-family: Poppins-SemiBold;
  color: #161616;
  font-weight: bold;
}

.clientp {
  font-size: 13px;
  font-family: Roboto-Light;
  color: #626262;
  line-height: 24px;
  margin-top: 16px;
}

/* CONTACT-SECTION */

.contact-section {
  position: relative;
  width: 100%;
  /* max-width: 1920px; */
  height: 660px;
  background-image: url("/assets/images/map.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}
.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* filter: blur(5px); */
  opacity: 71%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 2);
}
.contact-section form {
  display: flex;
  max-width: 890px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 46px;
  margin: 0 auto;
}
.firstcont {
  display: flex;
  justify-content: center;

  gap: 10px;
  /* width: 100%;
  max-width: 890px;
  margin: 0 auto; */
}
.contact-section p {
  margin-bottom: 46px;
}

.contact-section h2,
.contact-section p,
.contact-section form {
  position: relative;
  z-index: 1;
}

input {
  /* padding: 18px 195px 17px 30px; */
  font-size: 10px;
  letter-spacing: 0.4px;
  color: #515151;
  font-family: Poppins-SemiBold;
  /* margin-left: 30px; */
}
.contact-width {
  width: 287px;
  height: 50px;
  padding-left: 30px;
}

.secondcont {
  margin-top: 20px;
  margin-bottom: 30px;
  /* width: 100%; */
  /* margin: 0 auto; */
  /* max-width: 890px; */
}
.secondcont {
  font-size: 40px;
}

textarea {
  width: 885px;
  height: 110px;
  color: #515151;
  letter-spacing: 0.4px;
  font-size: 10px;
  font-family: Poppins-SemiBold;
  padding-left: 30px;
  padding-top: 32px;
}

.button2 {
  display: flex;
  margin: 0 auto;
  background: #daaf1b00 0% 0% no-repeat padding-box;
  border: 2px solid #e93656;
  opacity: 1;
  padding: 16px 41px 18px 41px;
  color: #e93656;
  /* font-weight: bold; */
  font-size: 12px;
  letter-spacing: 0.96px;
  width: 100%;
  max-width: 200px;
  font-family: GlacialIndifference-Bold;
  position: relative;
  z-index: 1;
  opacity: 100%;
}
.contuct-us {
  margin-top: 155px;
  font-size: 45px;
  font-family: GlacialIndifference-Bold;
  letter-spacing: 1.35px;
  padding: 152px 0 0 0;
}
.contact-section p {
  margin-top: 12px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ROCA  */

.roca {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #282828;
  color: white;
}
.roca-header {
  display: flex;
}
.roca h1 {
  margin-top: 111px;
  font-size: 55.42px;
  letter-spacing: 1.66px;
  font-family: Poppins-ExtraBold;
}
.reddot {
  color: red;
}
.roca p {
  font-size: 17px;
  width: 100%;
  max-width: 613px;
  margin-top: 23px;
  color: #a5a5a5;
  line-height: 27px;
  font-family: Roboto-Regular;
}
.roca-logo {
  max-width: 20px;
  width: 100%;
  height: 20px;
  /* fill: red; */
  /* background-color: red; */
}
.roca-logos {
  margin-bottom: 57px;
  margin-top: 45px;
  display: flex;
  gap: 20px;
}
.rights {
  display: flex;
  background-color: #171717;
  color: #a0a8b7;
  justify-content: center;
  /* margin: 0 auto; */
  padding: 27px 0 36px 0;
}
.rights a {
  color: white;
}

/* pp
pp
pp */

@media (width <1024px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0 5px;
  }
  .content-wrapper {
    width: 365;
    height: 250px;
  }
  .content-left {
    margin-top: 10px;
  }
  .slides-wrapper {
    height: 280px;
  }
  .rocaa {
    font-size: 25px;
  }
  .resume {
    font-size: 10px;
    margin-top: -20px;
  }
  .middle-content {
    width: 100%;
    margin-top: 100px;
    font-size: 20px;
  }
  .name {
    font-size: 20px;
    /* margin-left: 20px; */
    margin-right: 200px;
  }
  .proffesion {
    font-size: 9px;
    margin-top: 20px;
  }
  .logo {
    width: 10px;
    height: auto;
  }
  .logos {
    gap: 10px;
  }
  .slide img {
    width: 100%;
  }
  .content-right {
    display: none;
  }
  .second-section {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    margin-top: -150px;
  }
  .wrapper {
    max-width: 375px;
    display: 0 auto;
    display: block;
  }
  .middle {
    display: none;
  }
  .right-side {
    max-width: 300px;
    margin-left: 30px;
    text-align: center;
  }
  .left-side {
    max-width: 170px;
  }
  .left-side h1 {
    display: none;
  }
  .left-side p {
    display: none;
  }
  .left-side a {
    margin: 0 auto;
    margin-left: 100px;
    padding-top: 0;
    margin-top: 0;
  }
  .developer {
    display: none;
  }
  .pages {
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 40px;
  }
  .footer-wrapper {
    max-width: 375px;
    gap: 17px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0 auto;
    text-align: center;
  }
  .logo-box {
    display: none;
    padding: 3px;
    width: 23px;
    height: 24px;
  }
  .logo-box img {
    width: 14px;
  }
  .footer-box {
    margin: 0;
  }
  .footer-head {
    font-size: 10px;
    margin-top: 7px;
  }
  .footer-body {
    font-size: 7px;
    line-height: 10px;
    padding-bottom: 10px;
  }
  .header {
    font-size: 40px;
    margin-top: 70px;
  }
  .cards {
    margin-left: 25px;
    gap: 20px;
  }
  article {
    max-width: 150px;
    height: 150px;
  }
  .section-third img {
    width: 40px;
    height: auto;
    margin: 0 auto;
  }
  article span {
    font-size: 15px;
  }
  .additional-infor h1 {
    font-size: 15px;
  }
  .additional-infor p {
    font-size: 9px;
    width: 150px;
    line-height: 10px;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 10px;
  }
  .recom-slider-container {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 70px;
    height: 400px;
  }
  .recom-slider {
    max-width: 360px;
    display: flex;
    /* flex-direction: row; */
  }
  .recom-text {
    width: 100px;
    line-height: 13px;
    display: block;
  }
  .photo-and-info img {
    width: 80px;
    height: auto;
    margin-left: -20px;
  }
  .cubes {
    margin-left: 10px;
    margin-right: 10px;
  }
  .quote {
    display: none;
  }
  .info {
    margin-left: -30px;
  }
  .info .recom-name {
    font-size: 15px;
  }
  .projects-wrapper {
    display: block;
    margin: 0 auto;
  }
  .navbar ul {
    display: flex;
    /* heiht: auto; */
    margin-right: 0;
    width: 100%;
    gap: 12px;
  }
  .navbar {
    width: 365px;
    height: auto;
    padding: 20px 20px 30px 30px;
  }
  .navbar a {
    font-size: 10px;
    line-height: 8px;
  }
  .projectcards {
    margin-top: 30px;
  }
  .projectcard {
    margin: 0 auto;
  }
  .miniheader {
    display: none;
  }
  .latest-articles {
    margin: 0 auto;
  }
  .entire-article {
    width: 375px;
    display: block;
  }
  .white-space {
    display: none;
  }
  .article {
    width: 365px;
    height: auto;
  }
  .article h2 {
    margin-top: -20px;
  }
  .articlelogo {
    width: 40px;
    height: auto;
    margin-top: 5px;
  }
  .article p {
    max-width: 350px;
    font-size: 10px;
    line-height: 20px;
    margin-top: 15px;
    padding-bottom: 30px;
  }
  .dates {
    display: none;
  }
  .picture {
    display: none;
  }
  .partner {
    display: flex;
    max-width: 100px;
  }
  .partner img {
    width: 80px;
    height: auto;
  }
  .rosa-team {
    gap: 40px;
  }
  .contact-section {
    height: 460px;
    margin-top: -40px;
  }
  .contuct-us {
    font-size: 15px;
    padding-top: 30px;
    display: block;
  }
  .firstcont {
    display: block;
  }
  .contact-width {
    height: 35px;
  }

  textarea {
    width: 287px;
    height: 100px;
    padding-top: 10px;
  }
  .button2 {
    font-size: 10px;
    margin: 0 auto;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .roca h1 {
    font-size: 30px;
    margin-top: 30px;
  }
  .roca p {
    width: 300px;
  }
  .roca-logos {
    margin-bottom: 20px;
  }
  .rights p {
    font-size: 10px;
  }
  .slide {
    display: none;
  }
}
