* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: #4c6456;
  text-decoration: underline;
}
a:visited {
  color: #212121;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1920 px;
  height: 960px;
  margin: 0 auto;
  padding: 10px 10px 0px 10px;
}
img {
  width: 100%;
  object-fit: cover;
}
.slides-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.content-wrapper {
  position: absolute;
  z-index: 2;
}
.slides-wrapper {
  position: relative;
  background-color: white;
}

.logo {
  width: 100%;
  max-width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 40px;
}

.content-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.content-left {
  /* display: flex; */
  flex: 1;
  margin-top: 48px;
  margin-left: 52px;
  width: 113px;
}
.roca {
  width: 113px;
  height: 56px;
  text-align: left;
  letter-spacing: 1.2px;
  color: #1a1a1a;
  font-size: 40px;
  font-weight: bold;
}

.resume {
  font-size: 13px;
  display: block;
  top: 95px;
  left: 52px;
  width: 119px;
  height: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #b3b3b3;
  opacity: 1;
}
.middle-content {
  flex: 1;
  width: 582px;
  /* background-color: white; */
  display: block;
  margin-top: 384px;
  margin-left: 1023px;
  margin-right: 292px;
  font-size: 49.7px;
  /* height: 292px; */
  text-align: left;
  letter-spacing: 0.75px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.name {
  display: block;
  /* top: 445px; */
  left: 1023px;
  font-size: 60px;
  /* height: 294px; */
  text-align: left;
  letter-spacing: 1.06px;
  color: #212121;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.proffesion {
  font-size: 23.29px;
  width: 378px;
  height: 31px;
  text-align: left;
  letter-spacing: 0px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-right {
  margin-top: 25px;
  margin-right: 60px;
  left: 1631px;
  text-align: left;
  letter-spacing: 4.75px;
  color: #1c1c1c;
  opacity: 1;
  flex: 1;
  text-align: right;
  font-size: 20px;
}
.right-corner {
  font-size: 158px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 112px;
  text-align: left;
  letter-spacing: 4.75px;
  width: 170px;
  height: 221px;
}
.about {
  position: absolute;
  z-index: 2;
  top: 106px;
  right: 64px;
  font-size: 43px;
  font-weight: bold;
  width: 237px;
  height: 60px;
  text-align: left;
  letter-spacing: 1.3px;
  color: #373737;
  opacity: 1;
}
.overlay {
  position: relative;
  width: 227px;
  height: 200px;
}

.bottom {
  display: block;
  margin-top: 628px;
  width: 361px;
}
.red-colour {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #e93656;
  text-align: left;
  letter-spacing: 0px;
}
.black-colour {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #212121;
  text-align: left;
  letter-spacing: 0px;
  /* margin-right: 83px; */
}
.line {
  width: 340px;
  height: 6px;
  background: #e93656;
  margin-top: 20px;
  /* margin-left: 200px; */
}

.slides-container {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  height: 972px;
  position: relative;
}
.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  transition: width 0.5s ease-in;
  z-index: -1;
}
.slide.active {
  width: 100%;
  z-index: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* second-section */

.wrapper {
  display: flex;
  margin-top: 135px;
  /* align-items: center; */
  justify-content: center;
}

.left-side {
  text-align: right;
}
.left-side h1 {
  text-align: center;
  letter-spacing: 0px;
  color: #222222;
  font-size: 40px;
  margin-top: 83px;
}
.developer {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0px;
  color: #daae19;
  opacity: 1;
}
.left-side p {
  width: 334px;
  height: 149px;
  text-align: right;
  margin-left: 38px;
  margin-top: 33px;
  text-align: right;
  letter-spacing: 0.45px;
  color: #555555;
  opacity: 1;
}
.left-side button {
  background: #e93656 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 152px;
  height: 50px;
  border-style: none;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: red;
  font-size: medium;
}
.second-section img {
  display: flex;
  width: 100%;
  max-width: 550px;
  height: 755px;
  margin-left: 65px;
  margin-right: 69px;
}
.right-side {
  text-align: left;
  margin-top: 59px;
  margin-left: 70px;
}

.skill p {
  font-size: 20px;
}

.skill-bar {
  width: 300px;
  height: 9px;
  margin-top: 15px;
  margin-bottom: 23px;
  background-color: #f0f0f0;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.skill-percentage {
  height: 100%;
  background-color: red;
  transition: width 2s ease-out;
  width: 0;
  border-radius: 10px;
}
.pages {
  margin-top: 78px;
  gap: 5px;
  display: flex;
}
.checkbox {
  width: 50px;
  height: 50px;
  background: #f9f9f9;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkbox-cube {
  width: 9px;
  height: 15px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}
.checkbox:hover .checkbox-cube {
  background: #15263e;
  border: 1px solid white;
}
.checkbox:hover {
  background: #15263e;
}
footer {
  display: flex;
  background-color: #131a36;
  justify-content: center;
  margin-top: 100px;
}
.footer-wrapper {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-head {
  display: block;
  text-align: left;
  letter-spacing: 0.75px;
  color: #ffffff;
  opacity: 1;
  font-size: 25px;
  margin-bottom: 15px;
}
.footer-body {
  display: block;
  text-align: left;
  letter-spacing: 0.42px;
  color: #dfdfdf;
  opacity: 1;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
.footer-wrapper img {
  border: 1px dashed #ffffff;
  border-radius: 50px;
  padding: 30px;
}
.footer-wrapper img:hover {
  background-color: #e93656;
}
.footer-box {
  margin-left: 30px;
  margin-right: 50px;
}

/* third section */

.section-third {
  display: flex;
  justify-content: center;
  margin-top: 203px;
}
.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: 4fr;
  object-fit: cover;
  width: 100%;
  max-width: 1170px;
}
article {
  background: #fafafa;
  width: 100%;
  max-width: 285px;
  height: 360px;
  /* border-radius: 24px; */
  padding: 16px;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 0.97;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.card-content {
  position: absolute;
}
.card-content img {
  display: block;
}
.additional-infor {
  display: none;
}
.additional-infor h1 {
  text-align: center;
  letter-spacing: 0.44px;
  color: #ffffff;
  opacity: 1;
  font-size: 30px;
  margin-bottom: 19px;
}
.additional-infor p {
  width: 222px;
  text-align: center;
  letter-spacing: 0.42px;
  color: #ececec;
  opacity: 1;
  font-size: 14px;
  line-height: 26px;
}
article:hover .additional-infor {
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  color: white;
}
article:hover {
  background-color: rgb(7, 7, 52);
}
article:hover img,
article:hover span {
  opacity: 0;
}
.card-content:hover {
  opacity: 0;
}
.section-third img {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}

/* recomendations  */
.recom-slider-container {
  background-color: #131a36;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  margin-top: 160px;
}
.recom-slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.recom-slide {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recom-text {
  text-align: right;
  width: 497px;
  letter-spacing: 0.45px;
  color: #ffffff;
  opacity: 1;
  margin-right: 50px;
  font-size: 15px;
  line-height: 30px;
}
.photo-and-info {
  display: flex;
  align-items: center;
}

.photo-and-info img {
  width: 140px;
  height: 140px;
  background: black 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  border: 1px dashed #ffffff;
  padding: 10px;
  margin-right: 65px;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.quote {
  width: 39px;
  height: 26px;
  font-size: 50px;
  opacity: 1;
  color: white;
  margin-bottom: 38px;
}
.info .recom-proffesion {
  text-align: left;
  letter-spacing: 0.52px;
  color: #e93656;
  opacity: 1;
  font-size: 13px;
  margin-bottom: 9px;
}
.info .recom-name {
  text-align: left;
  letter-spacing: 0.84px;
  color: #ffffff;
  opacity: 1;
  font-size: 28px;
}
.cubes {
  display: flex;
  flex-direction: column;
  gap: 14.5px;
  margin-left: 153px;
  cursor: pointer;
}
.cube {
  width: 13px;
  height: 13px;
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
}
.cube:hover {
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 2px solid #e93656;
  opacity: 1;
}
.active {
  display: flex;
}

/* latest projects */

.header {
  text-align: center;
  margin-top: 144px;
  margin-bottom: 55px;
  font-size: 70px;
}
.latest-projects {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.projects-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  width: 240px;
  height: 401px;
  background: #15263e 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
  padding: 51px 71px 59px 59px;
  margin-right: 30px;
}
.navbar a {
  color: white;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 44px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a.active {
  color: red;
  font-weight: bold;
}
.navbar ul {
  list-style-type: none;
}
.navbar li {
  cursor: pointer;
}

.projectcards {
  display: flex;
  width: 100%;
  max-width: 900px;
  flex-wrap: wrap;
  grid-template-columns: repeat (3, 1fr);
}
.projectcard {
  position: relative;
  overflow: hidden;
  transition: transform 0.3 ease-in-out;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.projectcard img {
  width: 100%;
  max-width: 300px;
  height: 350px;
  transition: 0.3s ease;
  background-size: cover;
}
.projectcard .project-info {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  color: white;
}
.project-info {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.projectcard.show-info .project-info {
  opacity: 1;
  display: block;
}
.projectcard.blurred img {
  filter: blur(5px);
  pointer-events: none;
  transition: filter 0.3 ease;
}

.projectcard.hidden {
  display: none;
}
.project-text1 {
  margin-top: 160px;
  font-size: 11px;
  margin-bottom: 7px;
}
.project-text2 {
  font-size: 23px;
}

/* latest article  */

.articlelogo {
  width: 90px;
  height: 90px;
  margin-top: 79px;
  margin-left: 7px;
}
.miniheader {
  text-align: center;
  margin-top: 170px;
  margin-bottom: -120px;
  font-size: 13px;
  color: green;
  font-weight: bold;
}
.latest-articles {
  display: flex;
  margin-top: 180px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.article-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat (3, 1fr);
  width: 100%;
  max-width: 1920px;
  height: 1700px;
}
.article {
  width: 100%;
  max-width: 950px;
  height: 590px;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
}
.picture img {
  width: 100%;
  max-width: 827px;
  height: 590px;
}
.dates {
  width: 123px;
  height: 590px;
  background-color: #15263e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.para1 {
  font-size: 14px;
  color: #888888;
  letter-spacing: 1.12px;
}
.para2 {
  text-align: left;
  letter-spacing: 0px;
  color: #161616;
  opacity: 1;
  font-size: 40px;
}
.para3 {
  text-align: left;
  letter-spacing: NaNpx;
  opacity: 1;
  line-height: 30px;
  color: rgb(11, 9, 9);
  width: 569px;
}
