* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1920 px;
  height: 960px;
  margin: 0 auto;
  padding: 10px 10px 0px 10px;
}
img {
  width: 100%;
  object-fit: cover;
}
.slides-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.content-wrapper {
  position: absolute;
  z-index: 2;
}
.slides-wrapper {
  position: relative;
  background-color: darkcyan;
}

.logo {
  width: 100%;
  max-width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 40px;
}

.content-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.content-left {
  /* display: flex; */
  flex: 1;
  margin-top: 48px;
  margin-left: 52px;
  width: 113px;
}
.roca {
  width: 113px;
  height: 56px;
  text-align: left;
  letter-spacing: 1.2px;
  color: #1a1a1a;
  font-size: 40px;
  font-weight: bold;
}
/* .dot {
  display: block;
} */
.resume {
  font-size: 13px;
  display: block;
  top: 95px;
  left: 52px;
  width: 119px;
  height: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #b3b3b3;
  opacity: 1;
}
.middle-content {
  flex: 1;
  width: 443px;
  /* background-color: white; */
  display: block;
  margin-top: 384px;
  margin-left: 923px;
  font-size: 49.7px;
  /* height: 292px; */
  text-align: left;
  letter-spacing: 0.75px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.name {
  display: block;
  /* top: 445px; */
  left: 1023px;
  font-size: 60px;
  /* height: 294px; */
  text-align: left;
  letter-spacing: 1.06px;
  color: #212121;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.proffesion {
  font-size: 23.29px;
  width: 378px;
  height: 31px;
  text-align: left;
  letter-spacing: 0px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content-right {
  margin-top: 25px;
  margin-right: 60px;
  left: 1631px;
  text-align: left;
  letter-spacing: 4.75px;
  color: #1c1c1c;
  opacity: 1;
  flex: 1;
  text-align: right;
  font-size: 20px;
}
.right-corner {
  font-size: 158px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 112px;
  text-align: left;
  letter-spacing: 4.75px;
  width: 170px;
  height: 221px;
}
.about {
  position: absolute;
  z-index: 2;
  top: 106px;
  right: 64px;
  font-size: 43px;
  font-weight: bold;
  width: 237px;
  height: 60px;
  text-align: left;
  letter-spacing: 1.3px;
  color: #373737;
  opacity: 1;
}
.overlay {
  position: relative;
  height: 200px;
}

.bottom {
  display: block;
  margin-top: 628px;
  margin-right: 117px;
}
.red-colour {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #e93656;
  text-align: left;
  letter-spacing: 0px;
}
.black-colour {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #212121;
  text-align: left;
  letter-spacing: 0px;
  margin-right: 83px;
}
.line {
  width: 340px;
  height: 6px;
  background: #e93656;
  margin-top: 20px;
  margin-left: 200px;
}

.slides-container {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  height: 972px;
  position: relative;
}
.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  transition: width 0.5s ease-in;
  z-index: -1;
}
.slide.active {
  width: 100%;
  z-index: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* second-section */

.wrapper {
  display: flex;
  margin-top: 135px;
  /* align-items: center; */
  justify-content: center;
}

.left-side {
  text-align: right;
}
.left-side h1 {
  text-align: center;
  letter-spacing: 0px;
  color: #222222;
  font-size: 40px;
  margin-top: 83px;
}
.developer {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0px;
  color: #daae19;
  opacity: 1;
}
.left-side p {
  width: 334px;
  height: 149px;
  text-align: right;
  margin-left: 38px;
  margin-top: 33px;
  text-align: right;
  letter-spacing: 0.45px;
  color: #555555;
  opacity: 1;
}
.left-side button {
  background: #e93656 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 152px;
  height: 50px;
  border-style: none;
  color: white;
}
.second-section img {
  display: flex;
  width: 100%;
  max-width: 550px;
  height: 755px;
  margin-left: 65px;
  margin-right: 69px;
}
.right-side {
  text-align: left;
  margin: 59px;
}
.right-side span {
  display: block;
  padding: 30px;
}
.right-side div {
  display: flex;
  gap: 30px;
  background-color: red;
}
footer {
  display: flex;
  background-color: #131a36;
  justify-content: center;
  margin-top: 100px;
}
.footer-wrapper {
  display: flex;
}
footer img {
  width: 90px;
  height: 90px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer-box {
  color: white;
  display: block;
  margin-top: 54px;
  margin-bottom: 66px;
  margin-left: 30px;
  margin-right: 41px;
}
.footer-head {
  display: block;
  text-align: left;
  letter-spacing: 0.75px;
  color: #ffffff;
  opacity: 1;
  font-size: 25px;
  margin-bottom: 15px;
}
.footer-body {
  display: block;
  text-align: left;
  letter-spacing: 0.42px;
  color: #dfdfdf;
  opacity: 1;
  font-size: 14px;
  line-height: 24px;
}

/* third section */

.section-third {
  display: flex;
  justify-content: center;
  margin-top: 203px;
}
.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: 4fr;
  object-fit: cover;
  width: 100%;
  max-width: 1170px;
}
article {
  background: #fafafa;
  width: 100%;
  max-width: 285px;
  height: 360px;
  /* border-radius: 24px; */
  padding: 16px;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 0.97;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-third img {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}
